<header>
    <nav>
        <a href="/posts">Posts</a>
        <a href="/users">Users</a>
        <a href="/posts/create/">Create Post</a>
        <a href="/users/create/">Create User</a>
    </nav>
</header>