<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Create Post</h1>
<form class="create-forms" method="post" action="/posts/create/">
    <label class="create-forms-lb">
        Message:
        <input type="text" name="message" required/>
    </label>
    <label class="create-forms-lb">
        Image Url:
        <input type="url" name="imageUrl" required/>
    </label>
    <button id="create-post-btn" type="submit">Submit</button>
</form>
</body>
<%- include('_footer') -%>
</html>